
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#9852F9;
    width: 80%;
    height: 700px;
}

.container{
    margin: auto;
    transform: translate(10%,5%);
    width:90%;
    display: flex;
    flex-direction: column;
    background-color:#9852F9 ;
    color: #fff;
    align-items: center;
    height: 90%;
    box-shadow: 0 10px 15px #40088f;
}
span{
    color: #40088f;
    text-decoration: underline;
}
.boxes{
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 80%;
   flex-wrap: wrap;
}
.box{
  background-color: #9852F9;
  width: 32%;
  height: 30%;
  border: 1px solid #40088f ;
  box-shadow: 0 10px 15px #40088f;
  cursor: pointer;
  font-weight: bolder;
  color: #40088f;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
}
.box:hover{
    background-color: #6807F9;
    color: #fff;
}